<div class="header">
  <div class="constraintWidth">
    <div class="content">

      <div class="leftside">
        <a class="logo" href="/">
          <img src="./../../../../assets/images/logo.png" alt="product hunt icon" height="40" width="40">
        </a>
        <a class="name" href="/">
          <strong>Angular Hunt</strong>
          <span>The best new angular products, every day</span>
        </a>
      </div>

      <div class="container">
        <form class="form" method="GET" action="/search/posts">
          <label class="text">
            <i class="ion-ios-search"></i>
            <input autocomplete="off" class="input" data-test="search-input" name="q" placeholder="Discover your next favorite things..." value="">
          </label>
        </form>
      </div>

      <div class="rightside">
        <!--<div>
          <button (click)= "uploaData()">UploadData</button>
        </div>-->
        <!--<i class="ion-ios-more"></i>-->
        <span class="divider"></span>
        <div class="login-buttons" *ngIf="!(user)">
          <div class="signup" (click)="login('google')">
            <div class="buttoncontainer">LOG IN</div>
          </div>
        </div>

        <div class="logged-in-user-area" *ngIf="user">
          <span>
            <img [src]="user.avatar" class="avatar" />
          </span>

          <span>{{user.name}}</span>

          <span class="signup" (click)="logout()">
            <span class="buttoncontainer">LogOut</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>