<div class="header">
  <div class="constraintWidth">
    <div class="content">

      <div class="leftside">
        <a class="logo" href="/">
          <img src="./../../../../assets/images/logo.png" alt="product hunt icon" height="40" width="40">
        </a>
        <a class="name" href="/">
          <strong>Angular Hunt</strong>
          <span>The best new angular products, every day</span>
        </a>
      </div>

      <div class="container">
        <form class="form" method="GET" action="/search/posts">
          <label class="text">
            <i class="ion-ios-search"></i>
            <input autocomplete="off" class="input" data-test="search-input" name="q" placeholder="Discover your next favorite things..." value="">
          </label>
        </form>
      </div>

      <div class="rightside">
        <a class="signup" [href]="formLink" target='_blank'>
          <div class="buttoncontainer">Submit Your Project</div>
        </a>
        <span class="divider"></span>
        <div class="login-buttons" *ngIf="!(user)">
          <div class="signup" routerLink="/login">
            <div class="buttoncontainer">LOG IN</div>
          </div>
        </div>

        <div class="logged-in-user-area" *ngIf="user">
          <app-profile-dropdown 
            [user]="user"
            (logoutClicked)="logout()">
          </app-profile-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-header">
  <div class="mobile-content">
    <form class="mobile-form" method="GET" action="/search/posts">
      <label class="mobile-text">
        <i class="ion-ios-search-strong"></i>
        <!--<input autocomplete="off" class="input" data-test="search-input" name="q" placeholder="Discover your next favorite things..." value="">-->
      </label>
    </form>
    <div class="mobile-logo">
      <img src="./../../../../assets/images/logo.png" alt="product hunt icon" height="32" width="32">  
    </div>
    <div class="mobile-icon">
      <i class="ion-ios-more-outline">
      </i>
      <div class="popover">
        <ul class="secondary-bold-text-mobile">
          <li class="option_mobile">
            <a href="/ask">Ask</a>
          </li>
          <li class="option_mobile">
            <a href="/collections">Collections</a>
          </li>
          <li class="option_mobile">
            <a href="/live">LIVE Chats</a>
          </li>
          <li class="option_mobile">
            <hr class="separator_mobile">
          </li>
          <li class="option_mobile">
            <a href="/apps">Apps</a>
          </li>
          <li class="option_mobile">
            <a href="/meetups">Meetups</a>
          </li>
          <li class="option_mobile">
            <hr class="separator_mobile">
          </li>
          <li class="option_mobile">
            <a href="/about">About</a>
          </li>
          <li class="option_mobile">
            <a href="/branding">Branding</a>
          </li>
          <li class="option_mobile">
            <a href="https://help.producthunt.com">FAQ</a>
          </li>
          <li class="option_mobile">
            <a href="/protips">Pro tips</a>
          </li>
          <li class="option_mobile">
            <hr class="separator_mobile">
          </li>
          <li class="option_mobile">
            <a target="_blank" href="https://medium.com/product-hunt">Blog</a>
          </li>
          <li class="option_mobile">
            <a href="/radio">Radio</a>
          </li>



        </ul>
      </div>
    </div>
  </div>
</div>
<div>