<div class="header">
  <div class="constraintWidth">
    <div class="content">

      <div class="leftside">
        <a class="logo" href="/">
          <img src="./../../../../assets/images/logo.png" alt="product hunt icon" height="40" width="40">
        </a>
        <a class="name" href="/">
          <strong>Angular Hunt</strong>
          <span>The best new angular products, every day</span>
        </a>
      </div>

      <div class="container">
        <form class="form" method="GET" action="/search/posts">
          <label class="text">
            <i class="ion-ios-search"></i>
            <input autocomplete="off" class="input" data-test="search-input" name="q" placeholder="Discover your next favorite things..." value="">
          </label>
        </form>
      </div>

      <div class="rightside">
        <a class="signup" [href]="formLink" target='_blank'>
          <div class="buttoncontainer">Submit Your Project</div>
        </a>
        <span class="divider"></span>
        <div class="login-buttons" *ngIf="!(user)">
          <div class="signup" routerLink="/login">
            <div class="buttoncontainer">LOG IN</div>
          </div>
        </div>

        <div class="logged-in-user-area" *ngIf="user">
          <app-profile-dropdown 
            [user]="user"
            (logoutClicked)="logout()">
          </app-profile-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-header">
  <div class="mobile-content">
    <form class="mobile-form" method="GET" action="/search/posts">
      <label class="mobile-text">
        <i class="ion-ios-search-strong"></i>
      </label>
    </form>
    <div class="mobile-logo">
      <img src="./../../../../assets/images/logo.png" alt="product hunt icon" height="32" width="32">  
    </div>
    <div class="mobile-icon">
      <i class="ion-ios-more-outline">
      </i>
      <div class="boxarrow">
        <ul class="mobile-content-mobile">
          <li class="option-mobile">
            <a class="small-screen" href="/login">Log in / Sign up</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/ask">Ask</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/collection">collection</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/live">LIVE Chats</a>
          </li>
          <li class="option-mobile">
            <hr class="separator-bar">
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/apps">Apps</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/meetups">Meetups</a>
          </li>
          <li class="option-mobile">
            <hr class="separator-bar">
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/about">about</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/branding">Branding</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="https://help.producthunt.com">FAQ</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="/protips">PRO TIPS</a>
          </li>
          <li class="option-mobile">
            <hr class="separator-bar">
          </li>
          <li class="option-mobile">
            <a class="small-screen" target="_blank" href="https://medium.com/product-hunt">Blog</a>
          </li>
          <li class="option-mobile">
            <a class="small-screen" href="radio">Radio</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--<div>
    <i class="ion-ios-search-strong"></i>
    <input autocomplete="off" class="input" data-test="search-input" name="q" placeholder="Discover your next favorite things..." value="">
    <div class="menu-button">
      <ul class="menu-button-mobile">
        <li class="menu-mobile">
          <a class="menu-screen" href="/slack">Slack</a>
        </li>
        <li class="menu-mobile">
          <a class="menu-screen" href="/bots">Bots</a>
        </li>
        <li class="menu-mobile">
          <a class="menu-screen" href="/mac-apps">Mac Apps</a>
        </li>
        <li class="menu-mobile">
          <a class="menu-screen" href="/productivity">Productivity</a>
        </li>
        <li class="menu-mobile">
          <a class="menu-screen" href="/developer-tools">Developer Tools</a>
        </li>
        <li class="menu-mobile">
          <a class="menu-screen" href="/emojis">Emojis</a>
        </li>
      </ul>
    </div>
    <button class="close-button">
      <i class="ion-ios-close-empty"></i>
    </button>
  </div>-->

</div>
