<div class="top-middle-container">
  <div class="fullwidth-top-middle-box">
    <div class="top-middle-content">
      <a class="preview" routerLink="/home">
        <div class="background-image"></div>
        <div class="main-text">
          <div class="featured-text">Get the best new products in angular world right in your inbox, every day</div>
          <span class="text-base">Angular Hunt Daily Digest, Wednesday</span>
        </div>
      </a>
      <div class="cta">
        <!--<span class="bold-text">Get the best new products in your inbox, every day
                      <img draggable="false" class="emoji" alt="👉" src="https://twemoji.maxcdn.com/36x36/1f449.png">
                    </span>-->
        <form class="form_2">
          <div class="fieldWrap">
            <input #email class="field_base" data-test="newsletter-subscribe-input" 
              placeholder="Your email" name="email" type="email">
          </div>
          <button (click)="onSubscribe(email.value)" class="button_mediumSize" data-test="newsletter-subscribe-button">
            <div class="buttonContainer">Subscribe</div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>