<div class="login">
  <h1 class="title">Login</h1>
  <p class="intro">
    AngularHunt is a community to share and geek out about the latest Angular projects. Join us :)
  </p>
  <span>
    <div class="buttonGroup">
      <a class="button mediumSize 
                googleSolidColor 
                secondaryText 
                solidVariant"
        (click)="login('google')" 
        data-test="login-with-google">
        <i class="fa fa-google"></i>
        <div class="buttonContainer">
          Log in with Google
        </div>
      </a>
    
      <!--<a class="button 
                mediumSize
                facebookSolidColor
                secondaryText
                solidVariant"
            (click)="login('google')" 
            data-test="login-with-facebook">
            <div class="buttonContainer">Log in with facebook</div>
      </a>-->
    </div>
    <p class="loginInfo">
      We'll never post to Twitter or Facebook without your permission.
    </p>
  </span>
</div>