<div class="navigation">
  <div class="stickyNavigation" style="position: relative;">
    <div class="title">
      <span class="secondaryBoldText">FEEDS</span>
    </div>

    <ul class="list">
      <li>
        <a class="active-Item" routerLink="/home">
          <div class="greyIcon">
            <i class="ion-ios-home-outline"></i>
          </div>
          <span class="item-text" style="font-weight: 600;">Home</span>
        </a>
      </li>
      <li>
        <a class="item">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="greyIcon">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <span class="item-text" style="font-weight: 400;">Create Project</span>
        </a>
      </li>

      <li>
        <a class="item">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="greyIcon">
              <i class="fa  fa-globe" aria-hidden="true"></i>
            </div>
          </div>
          <span class="item-text" style="font-weight: 400;">All Projects</span>
        </a>
      </li>
    </ul>
  </div>
</div>