<div class="post-item">
  <div class="thumbsnail-bottom" href="/posts/noun-project-for-mac-2-0">
    <img [src]="project.image_url"
      width="80" height="80">
  </div>
  <div class="content-post-bottom">
    <a [routerLink]="['/home', id]">
      <div class="title-bottom">{{project.name}}</div>
      <div class="text-post">{{project.description}}</div>
    </a>

    <div class="meta">
      <!--<div class="topic">-->
        <!--<a class="button_smallSize" title="Tech" href="/topics/tech">
          <div class="button-Container">Tech</div>
        </a>
        <a class="more-topics">+3</a>-->
      <!--</div>-->
      <div class="hidden-icon">
        <i class="ion-android-open"></i>
      </div>
      <div class="action-buttons">
        <!--<button class="vote-button-hidden">
          <i class="ion-navicon"></i>
          <i class="ion-android-add"></i>
          <div class="button-base">&nbsp;SAVE</div>
        </button>-->
        <button class="vote-button-ion" (click)="onToggleUpvote()">
          <i [ngClass]="(project.is_liked_by_current_user)? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></i>
          <div class="button-base">&nbsp;{{project.project_likes_count}}</div>
        </button>
        <!--<button class="vote-button-chat">
          <i class="ion-chatbubble"></i>
          <div class="button-base">&nbsp;25</div>
        </button>-->
      </div>
    </div>
  </div>
</div>



<!--<div>
  <a [routerLink]="['/home', id]">
    <h3>{{project.name}}</h3>
  </a>

  <div>
    <button (click)="onToggleUpvote()">
      {{ project.is_liked_by_current_user ? "Remove Upvote" : "Upvote" }}
    </button>
  </div>

  <div>
    <h4>{{ project.project_likes_count }}</h4>
  </div>

</div>-->