.post-item {
	overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    background-color: transparent;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    width: 516px;
    height: 122px;
    cursor: pointer;
}

.post-item:hover {
    background-color: #f9f9f9;
}

.post-item:hover .hidden-icon,
.post-item:hover .vote-button-hidden,
.post-item:hover .vote-button-ion,
.post-item:hover .vote-button-chat {
    background-color: white;
}

.thumbsnail-bottom {
	margin-right: 25px;
	position: relative;
	height: 80px;
    width: 80px;
    border-radius: 3px;
    vertical-align: bottom;
    border: none;
    cursor: pointer;
}

.content-post-bottom {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -20px;
    cursor: pointer; 
}

.title-bottom {
	font-size: 17px;
    font-weight: 200;
    letter-spacing: .2px;
    color: #000;
    cursor: pointer; 
}

.text-post {
	font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #999;
    margin-top: 3px;
    margin-bottom: 15px;
    cursor: pointer; 
}

.meta {
    left: 130px;
    right: 25px;
    -ms-flex-align: center;
    align-items: center;
    bottom: 23px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    display: -ms-flexbox;
    display: flex;  
}

.topic {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap;
    cursor: pointer; 
}

.hidden-icon {
	background-color: transparent;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center !important;
    -ms-flex-pack: distribute;
    justify-content: space-around !important;
    border-radius: 3px;
    height: 24px;
    width: 22px;
    color: #999;
    fill: #999;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    outline: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center !important;
    text-align: center;
    text-decoration: none !important;
    margin-left: 126px;
    display: none;
    padding: 1px;
    cursor: pointer; 
}

.button_smallSize {
    background: #e8e8e8;
    border-color: #e8e8e8;
    color: #999;
    fill: #999;
    height: 24px;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
   -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer; 
}

.button-Container {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    width: inherit;
    cursor: pointer; 	
}

.more-topics {
   margin-left: .35em;
   line-height: 13px;
   cursor: pointer;
   font-size: 10px;
   font-weight: 400;
   letter-spacing: .6px;
   line-height: 16px;
   text-transform: uppercase;
   color: #999;
   text-decoration: none;
   cursor: pointer; 
}

.more-topics:hover {
    text-decoration: underline;
}

.action-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 10px;
}

.action-buttons:hover {
  z-index: 555555 !important;
}

.vote-button-hidden {
    display: flex !important;
    margin-left: 5px;
    font-size: 12px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #e8e8e8;
    color: #999;
    display: none !important;
    cursor: poiner;
}

/*.vote-button-hidden:hover,
.vote-button-ion:hover,*/
.vote-button-chat:hover,
.hidden-icon:hover {
    background-color: #a8a8a8;
}

.post-item:hover .hidden-icon,
.post-item:hover .vote-button-hidden {
    display: flex !important;
}


.vote-button-ion {
    display: flex;
    display: flex;
    margin-left: 6px;
    font-size: 12px;
    height: 24px;
    border: 1px solid #e8e8e8;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

.active {
  background-color: #da552f !important;
  color: white;
}


.vote-button-chat{
    display: flex;
    margin-left: 6px;
    font-size: 12px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #e8e8e8;
    color: #999;
    cursor: pointer;
}

a {
  text-decoration: none;
}