<!--- -------------------------------------SIDEBAR------------------------------>


<div class="navigation">
  <div class="stickyNavigation" style="position: relative;">
    <div class="title">
      <span class="secondaryBoldText">FEEDS</span>
    </div>
    <ul class="list">
      <li>
        <a class="active-Item" href="/">
          <div class="greyIcon">
            <i class="ion-ios-home-outline"></i>
          </div>
          <span class="item-text" style="font-weight: 600;">Home</span>
        </a>
      </li>

      <li>
        <a class="item" href="https://www.producthunt.com/topics/tech">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/701fd26a-c028-48ec-a7e8-bf0f89d48e03?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/701fd26a-c028-48ec-a7e8-bf0f89d48e03?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/701fd26a-c028-48ec-a7e8-bf0f89d48e03?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text" style="font-weight: 400;">Tech</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/games">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/13464a83-6701-4257-b810-c4c84979e3fc?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/13464a83-6701-4257-b810-c4c84979e3fc?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/13464a83-6701-4257-b810-c4c84979e3fc?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text" style="font-weight: 400;">Games</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/books">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/65334d10-36be-4e72-81a2-61b9799c1760?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/65334d10-36be-4e72-81a2-61b9799c1760?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/65334d10-36be-4e72-81a2-61b9799c1760?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text">Books</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/artificial-intelligence">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/0418cd04-f440-4021-8cf9-56be06164b0d?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/0418cd04-f440-4021-8cf9-56be06164b0d?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/0418cd04-f440-4021-8cf9-56be06164b0d?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div><span class="item-text">Artificial Intelligence</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/developer-tools">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/bcfb0ae5-5ebf-4557-93ff-2684a4530c17?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/bcfb0ae5-5ebf-4557-93ff-2684a4530c17?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/bcfb0ae5-5ebf-4557-93ff-2684a4530c17?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text">Developer Tools</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/get-shit-done">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/2232eaba-e8f0-4477-a73a-81b3bba00e7a?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/2232eaba-e8f0-4477-a73a-81b3bba00e7a?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/2232eaba-e8f0-4477-a73a-81b3bba00e7a?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text">Get Shit Done</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/smart-home">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/e0b3d17e-6784-4df2-99d5-16b9698a6e16?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/e0b3d17e-6784-4df2-99d5-16b9698a6e16?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/e0b3d17e-6784-4df2-99d5-16b9698a6e16?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text">Smart Home</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/touch-bar-apps">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/c74c96b5-94a5-4fce-8b39-9ec0e094d7ac?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/c74c96b5-94a5-4fce-8b39-9ec0e094d7ac?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/c74c96b5-94a5-4fce-8b39-9ec0e094d7ac?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text">Touch Bar Apps</span>
        </a>
      </li>
      <li>
        <a class="item" href="/topics/wearables">
          <div class="containericon" style="height: 24px; width: 24px;">
            <div class="lazyLoadContainer">
              <img src="https://ph-files.imgix.net/ac2d297c-6bed-4652-815a-342c6f3ee094?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24"
                srcset="https://ph-files.imgix.net/ac2d297c-6bed-4652-815a-342c6f3ee094?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=2 2x, https://ph-files.imgix.net/ac2d297c-6bed-4652-815a-342c6f3ee094?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;fit=crop&amp;w=24&amp;h=24&amp;dpr=3 3x"
                width="24" height="24">
            </div>
          </div>
          <span class="item-text">Wearables</span>
        </a>
      </li>
      <li>
        <a class="item" href="/login">
          <div class="greyIcon">
            <i class="ion-ios-plus-empty"></i>
          </div>
          <span class="item-text" style="font-weight: 400;">Customize Your Feed</span>
        </a>
      </li>
    </ul>
  </div>
</div>