<footer class="site-footer" itemscope="" itemtype="http://schema.org/WPFooter">
  <div class="wrap">    
    <div class="social-icons">
      <a href="http://twitter.com/avia-bird" class="fa fa-twitter" onclick="_gaq.push(['_trackEvent', 'Social', 'Footer', 'Twitter']);" target="_blank"></a>
      <a href="http://www.facebook.com/aviabird" class="fa fa-facebook" onclick="_gaq.push(['_trackEvent', 'Social', 'Footer', 'Linkedin']);" target="_blank"></a>
      <a href="http://www.github.com/aviabird/angularhunt" class="fa fa-github" onclick="_gaq.push(['_trackEvent', 'Social', 'Footer', 'Linkedin']);" target="_blank"></a>
    </div>    
    <div class="creds">
      <p class="logo"><a href="http://aviabird.com/">AviaBird</a></p>
    </div>
  </div>
</footer>